language: node_js
node_js:
  - 14
  - 12
  - 10

services:
  - mysql

branches:
  except:
    - /^feature\/[-\w]+$/

stages:
  - name: lint
  - name: test

jobs:
  include:
    - name: "Server"
      stage: lint
      script: ./scripts/lint-server.sh
    - name: "Console"
      stage: lint
      script: ./scripts/lint-console.sh
    - name: "Frontend"
      stage: lint
      script: ./scripts/lint-frontend.sh
    - name: "Server"
      stage: test
      script: ./scripts/test-server.sh

notifications:
  email:
    on_success: never
    on_failure: always
